# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Visual Studio Stuff
bettercss-m1-why-exercise-files/Why/BetterCSS/bin/**
bettercss-m1-why-exercise-files/Why/BetterCSS/obj/**
bettercss-m2-less-exercise-files/LESS/Before/BetterCSS/obj/**
bettercss-m2-less-exercise-files/LESS/Before/BetterCSS/bin/**
bettercss-m2-less-exercise-files/LESS/After/BetterCSS/obj/**
bettercss-m2-less-exercise-files/LESS/After/BetterCSS/bin/**
bettercss-m3-sass-exercise-files/SASS/After/BetterCSS/bin/**
bettercss-m3-sass-exercise-files/SASS/After/BetterCSS/obj/**
bettercss-m3-sass-exercise-files/SASS/Before/BetterCSS/bin/**
bettercss-m3-sass-exercise-files/SASS/Before/BetterCSS/obj/**
*.suo
*.csproj.user